<!-- templates/layout/base.html -->
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">

<head>
    {% set title = 'Event Lost & Found' %}
    {% include 'components/layout/head.html' %}
</head>

<body class="h-full">
    <div class="min-h-full">
        <!-- Navigation Bar: Hide if not logged in -->
        {% if current_user.is_authenticated %}
            {% include 'components/layout/navigation.html' %}
        {% endif %}

        <!-- Page Content -->
        <main class="py-10">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white shadow sm:rounded-lg p-6">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>

        <!-- Footer Component -->
        {% include 'components/layout/footer.html' %}
    </div>
</body>

</html>
